<html>
  <head>
    <title>Hello there</title>
  </head>
  <body>
    <h1>This is a test</h1>
    <marquee>It works!</marquee>
    <marquee> This is the message from  Motd:"<%= @motd %>"  </marquee>
    <marquee> This is the message from Variables:"<%= @myenvars %>"  </marquee>
  </body>
</html>
